name: Reusable WF - Build

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      payload:
        required: false
        type: string
      build-type:
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:

  get-dependency-details:
    uses: "./.github/workflows/get-dependency-details.yml"
    secrets: inherit
    with:
      owner: "howsoai"
      repo: "amalgam"
      payload: "${{ inputs.payload }}"

  build:
    needs: ['get-dependency-details']
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4

    - name: Download Amalgam
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        run_type=${{ needs.get-dependency-details.outputs.run-type }}
        if [[ "$run_type" == "release" ]]; then
          gh $run_type download -D target -R "howsoai/amalgam" -p "*linux-amd64.tar.gz" "${{ needs.get-dependency-details.outputs.run-id }}"
        else
          gh $run_type download -D target -R "howsoai/amalgam" -p "*linux-amd64" "${{ needs.get-dependency-details.outputs.run-id }}"
        fi
        # Needed because release/non-release downloads are different structure
        cd target && if [ ! -f *.tar.gz ]; then mv */*.tar.gz ./; fi && tar -xvzf *.tar.gz

    - name: Build
      run: |
        ./build/build.sh build_package ${{ inputs.version }}

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: howso-engine-${{ inputs.version }}
        path: target/howso-engine-${{ inputs.version }}.tar.gz
        if-no-files-found: error

  test-linux-amd64:
    needs: ['get-dependency-details', 'build']
    runs-on: ubuntu-latest
    steps:

    - name: Collect Workflow Telemetry
      uses: catchpoint/workflow-telemetry-action@v2
      with:
        comment_on_pr: off
        proc_trace_chart_show: off
        proc_trace_table_show: off

    - uses: actions/checkout@v4

    - name: Download Amalgam
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        run_type=${{ needs.get-dependency-details.outputs.run-type }}
        if [[ "$run_type" == "release" ]]; then
          gh $run_type download -D target -R "howsoai/amalgam" -p "*linux-amd64.tar.gz" "${{ needs.get-dependency-details.outputs.run-id }}"
        else
          gh $run_type download -D target -R "howsoai/amalgam" -p "*linux-amd64" "${{ needs.get-dependency-details.outputs.run-id }}"
        fi
        # Needed because release/non-release downloads are different structure
        cd target && if [ ! -f *.tar.gz ]; then mv */*.tar.gz ./; fi && tar -xvzf *.tar.gz

    - name: Test
      run: |
        sudo locale-gen es_ES.UTF-8
        ./build/build.sh test ${{ inputs.version }}

  test-linux-arm64:
    if: inputs.build-type != 'PR'
    needs: ['get-dependency-details', 'build']
    runs-on: ubuntu-24.04-arm
    steps:

    - name: Collect Workflow Telemetry
      uses: catchpoint/workflow-telemetry-action@v2
      with:
        comment_on_pr: off
        proc_trace_chart_show: off
        proc_trace_table_show: off

    - uses: actions/checkout@v4

    - name: Download Amalgam
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        SEARCH_POSTFIX=""
        if [[ "${{ needs.get-dependency-details.outputs.run-type }}" == "release" ]]; then
          SEARCH_POSTFIX=".tar.gz"
        fi

        gh ${{ needs.get-dependency-details.outputs.run-type }} download -D target -R "howsoai/amalgam" -p "*linux-arm64${SEARCH_POSTFIX}" "${{ needs.get-dependency-details.outputs.run-id }}"
        # Needed because release/non-release downloads are different structure
        cd target && if [ ! -f *.tar.gz ]; then mv */*.tar.gz ./; fi && tar -xvzf *.tar.gz

    - name: Test
      run: |
        sudo locale-gen es_ES.UTF-8
        ./build/build.sh test ${{ inputs.version }}

  test-linux-arm64_8a:
    if: inputs.build-type != 'PR'
    needs: ['get-dependency-details', 'build']
    runs-on: ubuntu-24.04-arm
    steps:

    - name: Collect Workflow Telemetry
      uses: catchpoint/workflow-telemetry-action@v2
      with:
        comment_on_pr: off
        proc_trace_chart_show: off
        proc_trace_table_show: off

    - uses: actions/checkout@v4

    - name: Download Amalgam
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh ${{ needs.get-dependency-details.outputs.run-type }} download -D target -R "howsoai/amalgam" -p "*linux-arm64_8a*" "${{ needs.get-dependency-details.outputs.run-id }}"
        # Needed because release/non-release downloads are different structure
        cd target && if [ ! -f *.tar.gz ]; then mv */*.tar.gz ./; fi && tar -xvzf *.tar.gz

    - name: Test
      run: |
        sudo locale-gen es_ES.UTF-8
        ./build/build.sh test ${{ inputs.version }} arm64_8a

  test-macos-arm64:
    needs: ['get-dependency-details', 'build']
    runs-on: macos-latest-xlarge
    steps:

    - name: Collect Workflow Telemetry
      uses: catchpoint/workflow-telemetry-action@v2
      with:
        comment_on_pr: off
        proc_trace_chart_show: off
        proc_trace_table_show: off

    - uses: actions/checkout@v4

    - name: Download Amalgam
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh ${{ needs.get-dependency-details.outputs.run-type }} download -D target -R "howsoai/amalgam" -p "*darwin-arm64*" "${{ needs.get-dependency-details.outputs.run-id }}"
        # Needed because release/non-release downloads are different structure
        cd target && if [ ! -f *.tar.gz ]; then mv */*.tar.gz ./; fi && tar -xvzf *.tar.gz

    - name: Test
      run: |
        ./build/build.sh test ${{ inputs.version }}

  test-windows-amd64:
    needs: ['get-dependency-details', 'build']
    runs-on: windows-latest
    steps:

    - name: Collect Workflow Telemetry
      uses: catchpoint/workflow-telemetry-action@v2
      with:
        comment_on_pr: off
        proc_trace_chart_show: off
        proc_trace_table_show: off

    - uses: actions/checkout@v4

    - name: Download Amalgam
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh ${{ needs.get-dependency-details.outputs.run-type }} download -D target -R "howsoai/amalgam" -p "*windows-amd64*" "${{ needs.get-dependency-details.outputs.run-id }}"
        # Needed because release/non-release downloads are different structure
        cd target && if [ ! -f *.tar.gz ]; then mv */*.tar.gz ./; fi && tar -xvzf *.tar.gz

    - name: Download tz data
      shell: pwsh
      run: |
        ./build/powershell/Download-Tzdata.ps1

    - name: Test
      run: |
        ./build/build.sh test ${{ inputs.version }}
